body {
	height: 500px;
	background-color: #cdd4e4;
}

#games_list {
	display: flex;
	margin: auto;
	width: 50%;
	height: 100%;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.card {
	display: flex;
	flex: 0 0 25%;
	margin: 1% 0;
	background-color: #f3f3f3;
	align-items: center;
	flex-direction: column;	
	justify-content: space-between;
	border-radius: 6px;
	border: 1px solid black;


	/* Animation */
	transition: transform .3s;
}

.card:hover {
	border-color: #7a837e;
	border-width: 1px;
	transform: scale(1.1);	
}
.card .top {
	border: none;
	margin: 0 5%;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
}


.card .top p {
	margin: 0 0;
}

.card .top img {
	width: 20%;
	border-radius: 30px;
	border: 1px solid black;
}

.card .bot {
	display: flex;
	border: none;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.card .bot button {
	
}

#new_game_button {
	width: 80px;
}
