body{
	display: grid;
	padding: 0px;
	margin: 0px;
	grid-template-rows: 60px 1fr 80px;
	grid-template-columns: 1fr 3fr 1fr;
	height: 100vh;
}
nav{
	display: flex;
	width: 100%;
	background-color: #303036;
	margin: 0px;
	justify-content: center;
	border-bottom: 2px solid grey;
	grid-column-start: 1;
	grid-column-end: 4;
}
nav *{
  	color: white;
	text-decoration: none;
	font-size: 28px;
	line-height: 40px;
	height: 40px;
	display: block;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
}
nav *:hover{
	background-color: #0c0c0d;
	border-bottom: 2px solid grey;
	height:38px;
}
#center{
	grid-column-start: 2;
	grid-column-end: 3;
	background-color: lightgrey;
	display: block;
}

table{
	width: 50%;
	border-collapse: collapse; 
	box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.26);
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

footer{
	grid-column-start: 1;
	grid-column-end: 4;
	background-color: lightpink;
}

td{
	text-align: center;
	font-size: 25px;
	text-transform: uppercase;
}

tr:nth-child(odd) td:nth-child(odd),tr:nth-child(even) td:nth-child(even)  {
  background: white;
}
tr:nth-child(odd) td:nth-child(even), tr:nth-child(even) td:nth-child(odd) {
  background: rgb(102, 140, 163)
}