body {
	background-color: #18181e;
}

#games_list {
	display: flex;
	margin: auto;
	max-width: 80%;
	height: 100%;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-start;
	overflow: scroll;
	-ms-overflow-style: none;  /* IE and Edge */
  	scrollbar-width: none;  /* Firefox */
}

#games_list::-webkit-scrollbar {
	display: none;
}


/*---------------------CARD--------------*/

.card:hover, .card:focus-within,
.card.hover{
	transform: scale(1.04);
	background-color: #2b2b2b;
}

.card:hover .hidden{
	visibility: visible;
	opacity: 1;
	transition: visibility 0s, opacity .6s ease-in-out;
}

.card:hover .mid img{
	filter: brightness(30%) blur(1.5px);
}

.card{
	display: flex;
	background-color: #f3f3f3;
	align-items: center;
	flex-direction: column;	
	justify-content: space-between;
	border-radius: 6px;
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.38);
	margin: 20px;
	padding: 10px 0px;

	transition: transform .3s ease-in-out, background-color .3s ease-in-out;
}

/* Most card elements have box-shadow and a radius. */
.card > * {	
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.38);
	border-radius: 6px;
}

.card > p {
	box-shadow: none;
	border-radius: 0px;
	color: white;
	padding: 10px;
}



.card .join {
	width: 90%;
	height: 50px;
	margin: 10px 0px;
}

.card .join button {
	width: 100%;
	height: 100%;
	border:none;
	/* for some reason it needs it's own border.*/
	border-radius: 6px;
	font-size: 1.2em;
	color: #26231D;
	background-color: #DEC79b;
}
/*----------------------------------------*/
/*-----------------BAR--------------------*/
.bar {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 50px;
	width: 110%;
	margin: 10px 0;
	background-color: #c5a05c;
}

.bar p {
	color: #26231D;
	margin: 5px;
	margin-right: 15px;
}

.bar.player img {
	border-radius:62px;
	width: 60px;
	height: 60px;
	margin-left: 15px;
	border: 4px solid #c5a05c;
	background-color: white;
}

.bar.player {
	justify-content: space-between;
}

.bar.inverted img{
	margin-right: 15px;
}

.bar.inverted p{
	margin-left: 15px;
}

.bar.title {
	justify-content: center;
}

.bar.title p {
	font-weight: bold;
}
/*-----------------------------------------*/
/*-------------MID------------------------*/

.mid {
	display: flex;
	position: relative;
	transform: none;
	box-shadow: none;
	margin: 10px 20px;
}

.mid table {
	width: 100%;
}

.mid td:first-child{
	display: none;
}
.mid tr:last-child *{
	display: none;
}

.mid form {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.mid form .invalid{
	border-color: red;
}

.invalid ~ #login-error {
	opacity: 1;
	height: auto;
}

.mid form > div {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.mid form > *{
	margin: 5px;
}

.mid.col {
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.mid img {
	transition: filter .3s ease-in-out, transform .3s ease-in-out;
}

.mid p{
	color: white;
	margin-right: 1%;
	margin-left: 1%;
	font-weight: bold;
}

.card.hover.mid {
	margin: 0;
}

.mid input {
	outline: none;
	border: solid 2px #dbdbdb;
	border-radius: 5px;
	padding: 10px;
	margin: 10px;
}

.mid input:invalid {
	border-color: red;
}

.mid input:invalid ~ #login-error {
	opacity: 1;
	height: auto;
}	
.mid .left {	
	position: absolute;
	left: 5%;
	top: 5%;
}

.mid .right {
	position: absolute;
	text-align: right;
	right: 5%;
	bottom: 5%;
}
/*-----------------------------------------*/
/*--------------HIDDEN--------------------*/
.hidden {	
	display: flex;
	align-items: center;
	flex-direction: column;	
	position: absolute;
	height: 100%;
	width: 100%;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 0.3s, opacity .2s linear;
}

.hidden label {
	margin-top: 1em;
	align-items: baseline;
}

/*-------------------------------------*/
#login-error {
	color: red;
	height: 0;
	opacity: 0;
	margin: 0;
	overflow: hidden;
	word-wrap: break-word;
	width: 13em;
	transition: opacity 0.2s ease-in;
}

#important {
	position: absolute;
	margin-top: 0;
	color: white;
	background-color: #6e1413;
}

#new_game_button {
	width: 80px;
}

#new_game_container > .card{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#new_game_container > .card > div.join{
	margin-right: 20px;
}

#new_game_container > .card > .mid{
	width: 100%;
	font-size: 1.2rem;
}


input[type=checkbox] { 
	appearance: none;
	width: 28px;
	height: 28px;
	background-color: white;
	
	box-shadow: inset;
	border-color: #c5a05c;
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0px -0px 4px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px -0px 4px 0px rgba(0,0,0,0.5);
}

input[type=checkbox]:checked{
	background-color: #DEC79b;
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5) inset, 0px 0px 4px 0px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0px -0px 4px 0px rgba(0,0,0,0.5) inset, 0px -0px 4px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px -0px 4px 0px rgba(0,0,0,0.5) inset, 0px -0px 4px 0px rgba(0,0,0,0.5);
}

input[type=checkbox]:checked:after { 
	content: '\2714';
	position: relative;
	font-size: 18px;
	top: -10px;
	right: 4px;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.199);
}