nav {
	display: flex;
	background-color: #f3f3f3;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
}

nav .right {
	margin: 0 3%;
}

nav .right a {
	font-size: 1.5rem;
	margin: 0 10px;
	color: #453F35;
}

nav .right a:link, a:visited{
	text-decoration: none;
}

nav .right a:hover {
	text-decoration: none;
	color: #f3f3f3;
	background-color: #a85032;
}

nav img {
	margin-left: 3%;
	height: 80px;	
}
