/*Nav Menu Styling*/

nav {
	display: flex;
	background-color: #f3f3f3;
	align-items: center;
	height: 75px;
	max-width: 1600px;
	margin: 0px auto;

	box-shadow: 5px 5px 20px 5px rgba(0,0,0,0.31);
}

#nav_spacer{
	max-width: 1000;
	min-width: auto;
}

nav *{
	height: 100%;
}

nav *:first-child{
	justify-self: flex-start;
	margin-left: 20px;
	margin-right: auto;
}
nav *:last-child{
	margin-right: 20px;
}

nav a {
	display: flex;
	align-items: center;
	font-size: 1.5rem;
	color: #453F35;
	padding: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 45px;

	transition: all 0.2s;
}

nav a:link, a:visited{
	text-decoration: none;
}

nav a:hover {
	text-decoration: none;
	color: #f3f3f3;
	background-color: #453F35;
}

nav a img {
	border-radius: 60px;
	width: 60px;
	height: 60px;
	border: 2px solid black;
}



/*Footer Styling*/

footer{
	padding: 10px;
	margin-left: -20px;
	width: 100vw;
	bottom: 0px;
	display: flex;
	justify-content: center;
	position:absolute;
}

#footer_content{
	max-width: 1600px;
    display: flex;
    background: #2b2b2b;
	justify-content: center;
	width: 100%;	
	margin: 0px 10px;
}

#footer_content div#footer_center{
	margin: 0px auto;
	text-align: center;
}

#footer_content div{
	padding: 20px;
	color: white;
}

#footer_content ul li{
	font-size: 1em;
}

#footer_content ul{
	margin: 0px;
}

#footer_content p{
    margin: 0px;
}
