/*Nav Menu Styling*/
html {
	max-width: 1600px;
	margin: 0 auto;
	padding: 0;
}

body {
	display: flex;
	height: 100vh;
	flex-direction: column;
	justify-content: space-between;
	overflow-y: auto;
}

nav {
	display: flex;
	background-color: #f3f3f3;
	align-items: center;
	height: 75px;
	max-width: 1600px;
	margin: 0px auto;

	box-shadow: 5px 5px 20px 5px rgba(0,0,0,0.31);
}

#nav_spacer{
	max-width: 1000;
	min-width: auto;
}

nav img{
	height: 100%;
}

nav img:first-child{
	justify-self: flex-start;
	margin-left: 20px;
	margin-right: auto;
}
nav a:last-child{
	margin-right: 20px;
}

nav a{
	display: flex;
	align-items: center;
	font-size: 1.5rem;
	color: #453F35;
	padding: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 45px;
	transition: all 0.2s;
}

nav a:link, a:visited{
	text-decoration: none;
}

nav a:hover{
	text-decoration: none;
	color: #f3f3f3;
	background-color: #453F35;
}

nav a img {
	border-radius: 60px;
	width: 60px;
	height: 60px;
	border: 2px solid black;
}
nav svg{
	transition: all 0.2s;
	height: 70%;
}
nav a:hover > svg{
	stroke: #f3f3f3;
}


/*Footer Styling*/

footer{
	padding: 10px;
	margin-left: -20px;
	width: 100%;
	bottom: 0px;
	left: 0px;
	margin-bottom: 0px;
	display: flex;
	justify-content: center;
}

#footer_content{
	max-width: 1600px;
    display: flex;
    background: #2b2b2b;
	justify-content: center;
	width: 100%;	
	margin: 0px 10px;
}

#footer_content div#footer_center{
	margin: 0px auto;
	text-align: center;
}

#footer_content div{
	padding: 20px;
	color: white;
}

#footer_content ul li{
	font-size: 1em;
}

#footer_content ul{
	margin: 0px;
}

#footer_content p{
    margin: 0px;
}
