h1, h2, h3, h4, h5, h6{
    text-align:center;
    margin: 0px;
}
body{
    background-color:#18181e;
}

#left {
	margin-left: 3%;
}

.content_box button{
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 50px;
    border-radius: 8px;
    background: #453F35;
    font-size: 1.5rem;
    color: white;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.31);
    border: none;
    font-weight: bold;
}

.content_box button:hover{
    background-color: white;
    color: black;
    border: 2px solid#453F35;
}

.title_box{
    background: #453F35;
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    height: 52px;
    display: flex;
    flex-direction: row;
    line-height: 52px;
}

.content_box{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: #f3f3f3;
    box-shadow: 5px 5px 20px 5px rgba(0,0,0,0.31);
    padding: 10px;
}

.content_box#centre{
    display: grid;
    grid-template-columns: 2fr 3fr;

    grid-row-start:1;
    grid-row-end:3;
    grid-column-start:2;
    grid-column-end: 4;

    padding: 20px;
}

.logo{
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.31);
}

#content{
    margin: 20px auto;
    max-width: 1600px;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 20px;
}

#content-game{
    margin: 20px auto;
    max-width: 1600px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 100%;
    grid-gap: 20px;
}

ul {
    list-style-type: none;
	margin: auto;
    padding: 0px;
	margin-bottom: 20px;
}

#move_logs{
	width: 80%;
    display: flex;
    height: auto;
	box-shadow: none;
	align-items: flex-start;
	max-height: 7em;
	overflow-y: auto;
	margin-bottom: 6px;
}

#move_logs::-webkit-scrollbar {
  width: 10px;
}

#move_logs::-webkit-scrollbar-track {
  background: none;
}

#move_logs::-webkit-scrollbar-thumb {
  background: #333231;
  border-radius: 4px;
}

#move_logs ul{
	width: 100%;
	text-align: left;
	margin-top: 0;
}

#white_move{
	border-right: 1px solid black;
}

#move_logs ul img {
	height: 1em;
	width: 1em;
	vertical-align: bottom;
	padding-bottom: 2px;
}
#move_logs li:nth-child(even){
    /*background-color: rgb(204, 204, 204);*/
}
li{
    margin-top: 0px;
    font-size: 1.2rem;
    padding-left: 5px;
}

#profilePic{
    height: 100%;
    border-radius: 100%;
    z-index: 100;
    margin-right: 10px;
    border: 2px solid black;
}

#opponent_info{
    grid-column-start:1;
    grid-column-end: 2;
}

body{
    height: 100vh;
}
